/*
	jQuery Mobile Boilerplate
	css/custom.css
*/

/* Center the footer */
[data-role="footer"] {
  text-align:center;
}

/* Geolocation Styles */
table#geolocation-data {
  width:90%;
  margin:auto;
}

table#geolocation-data td {
  border:1px solid lightgrey;
}